<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Logging.MinimumLevel" value="Debug" />

    <add key="Logging.File.MinimumLevel" value="Warning" />

    <add key="Logging.Console.MinimumLevel" value="Verbose" />

    <add key="Logging.Elastic.MinimumLevel" value="Debug" />
    <add key="Logging.Elastic.Url" value="http://localhost:9200" />
    <add key="Logging.Elastic.IndexFormat" value="customername_log_{0:yyyy.MM}" />

    <add key="Logging.Slack.MinimumLevel" value="Error" />
    <add key="Logging.Slack.Url" value="" />

    <add key="Logging.Sentry.Dsn" value="" />

    <add key="MPE.Pinger.Configuration.Path" value="C:\Users\mpe\Desktop\connections.json" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>