<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Logging.MinimumLevel" value="Debug"/>
    
    <add key="Logging.File.MinimumLevel" value="Warning"/>
    
    <add key="Logging.Console.MinimumLevel" value="Verbose"/>

    <add key="Logging.Elastic.MinimumLevel" value="Debug"/>
    <add key="Logging.Elastic.Url" value="http://localhost:9200"/>
    <add key="Logging.Elastic.IndexFormat" value="customername_log_{0:yyyy.MM}"/>

    <add key="Logging.Slack.MinimumLevel" value="Error" />
    <add key="Logging.Slack.Url" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>