<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Pinger.Project" value="MPE.Test" />
    <add key="Pinger.Environment" value="localhost"/>
    <add key="Pinger.Key" value="" />
  </appSettings>
</configuration>